@import "reset.css";

:root{
    /* 기본 단위 */
    --default-size: 45px;
    --info-box: calc((var(--default-size)/2)*3);
}

/* ==== Default ==== */
#color-routine-kit{
    position: absolute;
    left: 340px;
    height: 100vh;
    /*== 전체 너비 ==*/
    width: calc(var(--info-box) + var(--default-size)*4*6); /* 변수 조작 필요 */
    /*============*/
}
header,main,footer{
    margin-top: var(--default-size);
}
footer{
    height: 300px;
    background-color: rgb(102, 61, 7);
}
input {
    margin: 0;
    padding: 0;
    /*== input 기본 단위 ==*/
    width: calc(var(--default-size)*3);
    height: var(--default-size);
    /*================*/
    outline: none;
    border: none;
    border: 1px solid;
    background: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
.color-routine-kit__title{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--info-box);
    height: var(--default-size);
    /* background-color: rgb(181, 125, 51); */
    font-size: 16px;
}



/* ==== List ==== */
.color-list {
    display: flex;
    align-items: center;
}
.color-list__color-component {
    display: flex;
    box-sizing: border-box;
}
.color-component__input--text {
    text-align: center;
    box-sizing: border-box;
}
.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--default-size); 
    height: var(--default-size);
    border: 1px solid;
    box-sizing: border-box;
}
.color-dot {
    width: calc((var(--default-size)/4)*3);
    height: calc((var(--default-size)/4)*3);
    border-radius: 10%;
}



/* ==== Date, 일주일 네이밍 ====*/
.color-routine-kit__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--default-size);
}
.info__date-form--input{
    width: calc(var(--default-size)*5);
    
}
.info__weekname-form--input{
    width: calc(var(--default-size)*4);
}
#date-form{
    display: flex;
}
#weekname-form{
    display: flex;
}
.info__title--week-naming{
    width: calc(var(--default-size)*6);
}



/* ==== 루틴 시간표 ==== */
.color-routine-kit__row{
    width: 100%;
    height: var(--default-size);
   /*  background-color: aliceblue; */
    display: flex;
    border: 1px solid;
    box-sizing: border-box;
}


/* ==== 루틴 시간표 - 시간 ==== */
.time-row__hours{
    width: var(--default-size);
    height: var(--default-size);
    display: flex;
    align-items: center;
    justify-content: end;
}
.time-row__hours--number1to9{
    position: relative;
    left: calc(var(--default-size)/10);
}
.time-row__hours--number10to23{
    position: relative;
    left: calc((var(--default-size)/10)*2);
}



/* ==== 루틴 시간표 - 루틴 ==== */
.time-row__routine{
    width: calc(var(--default-size)/2);
    height: var(--default-size);
}
.time-row__routine:hover{
    background-color: rgba(0, 0, 0, 0.685);
}
.routine-row__date{
    border-right: 1px solid;
}