@import "reset.css";

input {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    border: 1px solid black;
}

.hidden {
    display: none;
}

.color-list {
    width: 1200px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color-list__color-component {
    display: flex;
}

.color-component__input--routine {
    text-align: center;
    font-family: '기후위기-한글';
}

.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basicDiv {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    /* background-color: aquamarine; */
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}