@import "reset.css";
/* ==== Default ==== */
#color-routine-kit{
    position: absolute;
    left: 340px;
    /* width: 1500px; */
    height: 100vh;
   /*  border: 1px solid black; */
}
header{
    background-color: antiquewhite;
    position: relative;
}
main{
    height: 50vh;
    background-color: rgb(181, 125, 51);
}
footer{
    height: 30vh;
    background-color: rgb(102, 61, 7);
}
input {
    margin: 0;
    padding: 0;
    width: 160px; /* 변수 조작 필요 */
    height: 40px; /* 변수 조작 필요 */
    outline: none;
    border: none;
    border: 1px solid black;
    background: none;
    text-align: center;
    font-size: 18px;
}
.hidden {
    display: none;
}
.color-routine-kit__title{
    font-weight: bold;
    /* margin-right: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    /* border: 1px solid black; */
    font-size: 16px;
}
.basicDiv {
    width: 40px; /* 변수 조작 필요 */
    height: 40px;/* 변수 조작 필요 */
    border: 1px solid black;
    /* background-color: aquamarine; */
}


/* ==== List ==== */
.color-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.color-list__color-component {
    display: flex;
    box-sizing: border-box;
}
.color-component__input--text {
    text-align: center;
}
.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


/* ==== Date, 일주일 네이밍 ====*/
.color-routine-kit__info{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px; /* 변수 조작 필요 */
}
.info__date-form--input{
    width: 240px; /* 변수 조작 필요 */
}
#date-form{
    display: flex;
}
#weekname-form{
    display: flex;
}
.info__title--naming{
    width: 240px;
}
